<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <style>
        body {
            font-family: Arial;
            padding: 30px;
            background: #f9f9f9;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: #fff;
        }

        th,
        td {
            padding: 12px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background: #007BFF;
            color: white;
        }
    </style>
</head>

<body>
    <h2>Admin Dashboard</h2>
    <a href="/logout">Logout</a>
    <table>
        <tr>
            <th>App ID</th>
            <th>Category</th>
            <th>Date</th>
            <th>Location</th>
            <th>Description</th>
            <th>Urgency</th>
            <th>Image</th>
        </tr>
        {% for app_id, data in complaints.items() %}
        <tr>
            <td>{{ app_id }}</td>
            <td>{{ data.category }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.location }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.urgency }}</td>
            <td>
                {% if data.photo %}
                <a href="/uploads/{{ data.photo }}" target="_blank">View</a>
                {% else %}
                No Image
                {% endif %}
            </td>
           
        </tr>
        {% endfor %}
    </table>
</body>

</html>
